.App {
  height: 100vh;
  background-color: #eee;
  padding-top: 4rem;
  padding-bottom: 4rem; 
  text-align: center;
}

.Userblock {
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 3rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  padding: 2rem;
}

